body {
  background-color: rgb(92, 92, 92);
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculatorBody {
  height: auto;
  width: 300px;
  background-color: rgb(23, 45, 60);
  border-radius: 15px;
  padding: 10px;
}
.display {
  background-color: rgb(23, 45, 60);
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  border-radius: 15px;
  color: lightgray;
}
.keyboard {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}
#ac {
  grid-column: span 3;
}
#equal {
  grid-column: span 2;
  background-color: rgba(255, 166, 0, 0.842);
  color: white;
}
button {
  border-radius: 15px;
  box-shadow: 3px 3px black;
  height: 67.5px;
  background-color: rgb(23, 45, 60);
  color: lightgray;
  cursor: pointer;
}
.orangeBtn {
  color: rgba(255, 166, 0, 0.842);
}
.currentOperand {
  min-height: 50px;
  font-weight: bold;
  font-size: 35px;
}
.previousOperand {
  min-height: 30px;
  font-size: 15px;
}
